<?xml version="1.0" encoding="UTF-8"?>
 
<configuration status="debug">
    <Properties>
        <Property name="filename">logs/scheduler3.log</Property>
    </Properties>
 
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss.SSS} [%t] %-5level %logger{36} %m%n"/>
        </Console>

        <File name="file" fileName="${filename}">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss.SSS} [%t] %-5level %logger{36} %m%n"/>
        </File>
    </Appenders>
    
    <loggers>
        <Logger name="org.apache.storm.shade.org.apache.zookeeper" level="TRACE">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>

        <Logger name="org.apache.storm.shade.org.apache.curator" level="TRACE" >
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>

        <Root level="TRACE">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </Root>
        <!--<Root level="INFO">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </Root>
        <Root level="DEBUG">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </Root>
        <Root level="ERROR">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </Root>
        <Root level="TRACE">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </Root>
        <Root level="WARN">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </Root>-->
        <!--<root level="debug" additivity="true">
            <AppenderRef ref="console"/>
        </root>-->
    </loggers>
 
</configuration>